body
{
    display: block;
    background-color: white;
}

.main-container
{
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container
{
    width: 450px;
    height: 65px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.logo-container
{
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: #FCFCFC;
    position: absolute;
    top: 20px;
    bottom: 18.8px;
    left: 29px;
    right: 342px;
    width: 170px;;
}

.logo-img
{
    width: 31.306px;
    height: 26.218px;
}

.logo-text
{
    color: #FFF;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.075px;
    margin: 0px;
}

.form {

    width: 450px;
    display: grid;
    padding: 20px;
    grid-template: 20px 40px 60px / 1fr 1fr;

}

.form--label
{

    margin-bottom: 5px;
    font-family: "Karla", sans-serif;

}

.form--input {

    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;

}

.form--button {

    height: 40px;
    margin-top: 20px;
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme--container
{
    width: 450px;
    height: 268px;
    margin: 0px auto;
    position: relative;
}

.image--meme
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 2px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
